/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Kdam+Thmor+Pro&family=Montserrat:wght@300&family=Plus+Jakarta+Sans:wght@200&display=swap') */

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0%;
    padding: 0%;
    /* overflow-y: hidden; */
}

body .container {
    padding-top: 6em;
}

body .container .col-sm {
    padding: 0px;
    /* background-color: rgb(11, 192, 72); */
}


.container i {
    font-size: 10em;
}

.container .col-xd {
    position: relative;
}

#state{
font-family: 'Kdam Thmor Pro', sans-serif;
font-weight: 800;
font-size: 2em;
/* background-color: #130c0c; */
width: fit-content;
position: relative;
color: #000;
margin: -4.7em auto;
}

/* font-family: 'Exo 2', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serf