/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Kdam+Thmor+Pro&family=Montserrat:wght@300&family=Plus+Jakarta+Sans:wght@200&display=swap') */

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0%;
    padding: 0%;
    /* overflow-y: hidden; */
}

body .container {
    padding-top: 6em;
}

body .container .col-sm {
    padding: 0px;
}


.container i {
    font-size: 10em;
}

.container .col-xd {
    position: relative;
}

b {}

/* font-family: 'Exo 2', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif; */